 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand" routerLink="">
            <i class="fa-solid fa-cart-flatbed fa-beat-fade"></i>
          <span class="text-primary fw-bolder ms-2 fs-4 ">DropCart</span>  
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <input style="width: 400px;" class="form-control me-2" type="search" placeholder="search products here" aria-label="Search">
                </li>
                
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-dark me-3 ms-4" type="submit">
                        <i class="fa-solid fa-user"></i>
                        Login
                    </button>
                </li>
                <button class="btn btn-outline-dark me-3" type="submit">
                    <i class="fa-solid fa-heart"></i>
                    Wishlist
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
                <li class="nav-item">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                 </li>
            </ul>
            
        </div>
    </div>
</nav>