<div class='d-flex flex-column  align-items-center justify-content-center w-100' style="height:300px;"  >
    <div class='footer d-flex justify-content-evenly w-100'>
      
     
      <div class='link d-flex flex-column '> 
        <h4 style="margin-left:35px">About</h4>
        <ul>
         <li >
             <a routerLink="" style="text-decoration: none; color: black; " >Contact us</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >About us</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Dropcart stories</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Careers</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Press</a>
         </li>
        
        </ul>
 
       </div>

       <div class='link d-flex flex-column '> 
        <h4 style="margin-left:35px">Help</h4>
        <ul>
         <li >
             <a routerLink="" style="text-decoration: none; color: black; " >Payments</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Shipping</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Cancellation and returs</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Faq</a>
         </li>
        
        
        </ul>
 
       </div>

      <div class='link d-flex flex-column '> 
        <h4 style="margin-left:35px">Consumer Policy</h4>
        <ul>
         <li >
             <a routerLink="" style="text-decoration: none; color: black; " >Cancellation and returns</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Terms of use</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Security</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Privacy</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Sitemap</a>
         </li>
        
        </ul>
 
       </div>

       <div class='link d-flex flex-column '> 
        <h4 style="margin-left:35px">Social</h4>
        <ul>
         <li >
             <a routerLink="" style="text-decoration: none; color: black; " >Facebook</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Twitter</a>
         </li>
         <li>
             <a routerLink="" style="text-decoration: none; color: black;" >Youtube</a>
         </li>
        
        
        </ul>
 
       </div>
       <div style="border-left : 1px solid rgb(138, 133, 133);height: 200px;"></div>

       <div > 
        <h4 style="margin-left:35px">Mail us:</h4>
        <p style="margin-bottom: -.2em;  margin-top: 0em;" >Dropcart Internet Private Limited, </p>
        <p style="margin-bottom: -.2em;  margin-top: 0em;">ABC street</p>
        <p style="margin-bottom: -.2em;  margin-top: 0em;">Bengaluru,673205</p>
        <p>987654333</p>
       </div>

    </div>
  </div>
  <hr style="border: 0.5px solid;width: 100%;">

  <div   class=" d-flex align-items-center justify-content-center w-100 ">
    <div style="height: 100%;" class="d-flex align-items-center justify-content-center me-5">
        <i style="margin: 0px; color: rgba(160, 160, 21, 0.925);" class="fa-solid fa-box me-2"></i>
        <a style="text-decoration: none;color: black;" routerLink="">Become a seller</a>
    </div>
    <div style="height: 100%;" class="d-flex align-items-center justify-content-center me-5">
        <i style="margin: 0px; color: rgba(160, 160, 21, 0.925);" class="fa-solid fa-star-of-david me-2"></i>
        <a style="text-decoration: none;color: black;" routerLink="">Advertise</a>
    </div>
    <div style="height: 100%;" class="d-flex align-items-center justify-content-center me-5">
        <i style="margin: 0px; color: rgba(160, 160, 21, 0.925);" class="fa-solid fa-gift me-2"></i>
        <a style="text-decoration: none;color: black;" routerLink="">Gift Cards</a>
    </div>
    <div style="height: 100%;" class="d-flex align-items-center justify-content-center me-5">
        <i style="margin: 0px; color: rgba(160, 160, 21, 0.925);" class="fa-solid fa-circle-question me-2"></i>
        <a style="text-decoration: none;color: black;" routerLink="">Help Center</a>
    </div>

<p style="margin-top: 15px;">&copy; Dropcart@2023</p>
  </div>
  
