<app-header></app-header>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="height: 400px;" class="card-img-top mb-5 mb-md-0" [src]="product.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">P ID: {{product._id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    <span>${{product.price}}</span>
                </div>
                <p class="lead"><span class="fw-bolder">Description:</span>{{product.description}}</p>
                <div class="d-flex justify-content-between">
                    
                    <button class="btn btn-outline-dark mt-auto "><i class="fa-solid fa-heart text-danger fa-2x"></i>Add to wishlist</button>
                    <button class="btn btn-outline-dark mt-auto"><i class="fa-solid fa-cart-plus fa-2x text-success"></i>Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>


